<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input
        #addMemberInput
        type="text"
        placeholder="Name"
        (input)="onInput(addMemberInput.value)"
        [value]="newMemberName"
      />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input
        #numberOfTeamsInput
        type="text"
        placeholder="# of teams"
        (input)="onNumberOfTeamInput(numberOfTeamsInput.value)"
        [value]="numberOfTeams"
      />
      <button (click)="generateTeam()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>

  <div *ngIf="teams.length" class="team-container">
	<app-team *ngFor="let team of teams; let i = index" [team]="team" [index]="i"></app-team>
  </div>

</div>

<!-- Tutorial -->
<!-- <div *ngIf="teams.length" class="teams-container">
  <div *ngFor="let team of teams; let i = index" class="team-container">
	  <h3>Team {{ i + 1 }}</h3>
	  <ul>
		  <li *ngFor="let t of team">{{ t }}</li>
	  </ul>
  </div>
</div> -->

<!-- My -->
<!-- <div *ngFor="let team of teams">
  <h3>Team {{ teams.indexOf(team) + 1 }}</h3>
  <div class="ui card">
	<div *ngFor="let t of team">
	  <p class="team-members">
		{{ t }}
	  </p>
	</div>
  </div>
</div> -->
